* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-height: 100vh;
    position: relative;
}
body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
body::selection {
  background-color: #04AA6D;
  color: white;
}
body .container {
    padding-top: 20px;
}
body .container h1 {
    font-size: 40px;
}
@media (max-width:768px) {
  body .container h1 {
    font-size: 23px;
  }
}
.btn-container{
  margin-top: 60px;
}
#range {
  -webkit-appearance: none;  
  appearance: none;
  height: 25px; 
  background: #d3d3d3; 
  outline: none; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
  filter: drop-shadow();
}

#range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #0be960; 
  cursor: pointer; 
}

#range::-moz-range-thumb {
  width: 25px; 
  height: 25px;
  background: #04AA6D; 
  cursor: pointer; 
}
.fire {
    font-size: 60px;
    margin: 20px 0;
    color: black;
    padding: 20px 0;
}

.log-items {
  display: none;
  max-width: 400px;
  max-height: 110px;
  overflow: hidden;
  margin: 0 auto;
  text-align: left;
  border: 1px solid #0be960;
  box-shadow: 0 0 15px #0be960;
  padding:10px 20px 10px 10px;
  border-radius: 10px;
}
.message {
  color: #0be960;
  
}